{% extends "layout.html" %}
{% block content %}
<div class="card backdrop-filter">
    <div class="card-body">
    <h1>This is my curriculum vitae</h1>
    <h4>Hi, I'm Mike.</h4><p>I used to be an electrical and electrical engineer and now I'm studying at Cardiff University MSc computing. I plan to be a Software engineer in the future</p>
    </div>
</div>    

<div class="card backdrop-filter">
    <div class="card-body">
        <h3>My professional skills</h3>
        <li>Web design</li>
        <li>Website development</li>
        <li>Embedded system</li>
        <li>Circuit design</li>
        <li>Website development</li>
        <li>Database development</li>
    </div>
</div>  

<div class="card backdrop-filter">
    <div class="card-body">
        <h3>Programming languages I am familiar with</h3>
        <li>C</li>
        <li>HTML</li>
        <li>Python</li>
        <li>Java Script</li>
    </div>
</div>  

<div class="card backdrop-filter">
    <div class="card-body">
        <h3>In addition, I am also familiar with:</h3>
        <li>Adobe Premiere</li>
        <li>Microsoft Office</li>
    </div>
</div>  

<div class="card backdrop-filter">
    <div class="card-body">
        <h3>My education experiences</h3>
            <li>Neusoft Institute GUANGDONG (2017-2020)</li>
        <p> Electronic information engineering<p>
            <li>Edinburgh Napier University (2020-2021)</li>
        <p> Electronic and electrical engineering</p>
    </div>
</div>  
    
<div class="card backdrop-filter">
    <div class="card-body">
        <h3>My project experiences</h3>
        <li>Create a water filtration system by microcomputer(STM8)</li>
        <li>Developed a automatic garbage classification system based on computer vision with microcomputer(K210)</li>
    </div>
</div>

<div class="card backdrop-filter">
    <div class="card-body">
        <h3>Contect me</h3>
        <li>Email:Zhangxxx@cardiff.ac.uk</li>
        <li>Location:Cardiff</li>
    </div>
</div>    

{% endblock content %}